# ---- Public (exposed to browser) ----
NEXT_PUBLIC_SUI_NETWORK=testnet
NEXT_PUBLIC_SUI_GRAPHQL_URL=https://sui-testnet.mystenlabs.com/graphql
NEXT_PUBLIC_PACKAGE_ID=0x76969441e81eac68563043c20dc20e0020ac1ade2db1a906d3c86a6c4025c683
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_ZK_PROVER_URL=https://prover-dev.mystenlabs.com/v1
NEXT_PUBLIC_SALT_SERVICE_URL=https://salt.api.mystenlabs.com/get_salt

# ---- Server-side only (NEVER prefix with NEXT_PUBLIC_) ----
ADMIN_CAP_ID=0x4d1d37126c269607f786ff5769e581df8f63b0195429a0a545d39e07bed2e788
DEPLOYER_PRIVATE_KEY=
SUI_RPC_URL=https://fullnode.testnet.sui.io:443
