NEXT_PUBLIC_NETWORK=testnet
NEXT_PUBLIC_GRAPHQL_URL=https://sui-testnet.mystenlabs.com/graphql
NEXT_PUBLIC_FULLNODE_URL=https://fullnode.testnet.sui.io:443
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_PROVER_URL=https://prover-dev.mystenlabs.com/v1
NEXT_PUBLIC_SALT_URL=https://salt.api.mystenlabs.com/get_salt
NEXT_PUBLIC_REDIRECT_URL=http://localhost:3000/auth/callback
ADMIN_PRIVATE_KEY_BECH32=
ADMIN_CAP_ID=
